<!DOCTYPE html>
<html lang="en">

<%- include('../../layout/head'); %>
<title>Your Book Details</title>
</head>

<body>
  <header>
    <h1>Search Results</h1>
    <nav>
      <form action="/" method="get">
        <button type="submit" class="searchnav">Bookshelf</button>
      </form>
    </nav>
  </header>
  <%- include('detail'); %>
</body>